
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
<title>smart bin</title>
<img src="" width="128" height="128">
<p style="color: LimeGreen;">"Developing smart cities."</p>
<p>Many cities are developing in our country and elsewhere which is good, but are challenged with an issue of garbage disposal. </p>
<p>The smart bin is attractive environmental friendly and simple to use. With the 'no touch' use, contact to germs is limited.</p>
<p>Green lights indicate more space for rubbish. Red lights and notifications indicate a full dustbin that needs to be emptied.   </p>
<p style="color:Tomato;">Beware of electric circuits!.Don't pour liquids inside!.</p>

<p style="color:LimeGreen;">Love your city by using the new systems in the world of internet</p>
</body>
</html>
</head>
<body></body>
</html>

